.header-main{
    background-color: #15B9D3;
    color: #ffffff;
    width: 100%;
    font-family: cursive, 'Courier New', Courier, monospace;
}

h2{
    margin: 0px;
}

.header-title{
    margin-left: 15px;
    padding: 5px;
}