<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label class="control-label">Fecha</label>
      <input class="form-control" type="text" id="fechaProgramacion">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label class="control-label">No Prescripción</label>
      <input class="form-control" type="text" id="noPrescProgramacion">
    </div>
  </div>
  <div class="col-md-1">
    <div class="form-group">
      <label class="control-label" style="visibility: hidden;">buscar</label>
      <button class="btn btn-secondary" type="button" (click)="buscar()">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>

  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped table-bordered nowrap" id="tblProgramacion" style="width: 100%;">
        <thead>
          <tr>
            <th>Estado</th>
            <th>No Prescripción</th>
            <th>TipoDoc</th>
            <th>Documento</th>
            <th>Municipio</th>
            <th>FechaMaxEnt</th>
            <th>Cant</th>
            <th>Cod Servicio</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Programar</th>
            <th>Anular</th>
          </tr>
        </thead>
        <tbody>
          <!-->td>12312243234</td>
          <td>terte</td>
          <td>terte</td>
          <td>terte</td>
          <td>terte</td>
          <td><button class="btn btn-success">Programar</button></td>
          <td><button class="btn btn-danger">Anular</button></td-->
        </tbody>
      </table>
    </div>

  </div>
</div>

<div class="modal" role="dialog" data-backdrop="static" data-keyboard="false" id="modalCargando">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="text-align: center; background-color: #6c757d;">
          <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
          <span class="sr-only">Cargando...</span>
      </div>
    </div>
  </div>
</div>