.left-bar{
    width: 200px;
    height: 500px;
    background-color: #D5EEF2;
    position: absolute;
}

.lista-opciones{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.nav-link{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid #35C8DF;
}
.seleccionado{
    background-color: grey;
    color: #ffffff;
}

.nav-link:hover{
    background-color: #79D3E1;
    color: #ffffff;
}

.nav-item{
    padding: 3px;
}