
  <div class="left-bar">
    <div>
      <ul class="nav flex-column nav-pills">
        <li  class="nav-item" ><a class="nav-link"  routerLink="/programacion">Programación</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/entrega">Entrega</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/reporte-entrega">Reporte Entrega</a></li>
      </ul>
    </div>
  </div>